.add-item-page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem !important;
    background-color: aliceblue;
}

.add-item-container {
    width: 500px;
    height: 520px;
    text-align: center;
    padding: 1.5rem !important;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-right: 8rem !important;
}
  
.main-image-container {
    text-align: center;
    margin-bottom: 1rem !important;
}
  
.main-image {
    width: 100%;
    height: 100%;
    max-width: 100%;
    height: 300px;
    object-fit: contain;
}
  
.upload-btn-container {
    text-align: center;
    margin-bottom: 1rem !important;
}
  
.upload-btn {
    padding: 0.5rem !important;
    background-color: rgb(58, 147, 225);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}
  
.upload-btn:hover {
    background-color: rgb(30, 90, 142);
}
  
.image-sliders {
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    padding: 0.5rem  !important; 
}
  
.image-thumbnail {
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    margin-right: 0.5rem;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s ease;
    border-radius: 8px;
}
  
.slider-arrow {
    font-size: 1rem;
    background-color: #c6cbcf;
    color: #fff;
  }


.no-image {
    margin-top: 0.5rem !important;
}

.image-thumbnail:hover {
    transform: scale(1.1);
}
  
.items-info {
    flex: 1 1 50%;
    padding: 1.5rem !important;
    background-color: #fff;
    height: 32rem;
    width: 35rem;
}
  

.items-name input,
.items-price input,
.items-topping input,
.items-topping-price input,
textarea{
    width: 100%;
    padding: 0.8rem !important;
    margin-top: 0.2rem !important;
}
  
textarea {
    height: 100px;
}
/* Cài đặt chiều cao cố định và cho phép cuộn */
.items-topping-input-container {
    max-height: 7.5rem; /* Bạn có thể thay đổi chiều cao này */
    overflow-y: auto; /* Thanh cuộn sẽ xuất hiện nếu vượt quá chiều cao */
  }
  
  /* Nếu muốn thêm thanh cuộn cuộn mượt */
.items-topping-input-container::-webkit-scrollbar {
    width: 8px;
  }
  
.items-topping-input-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }
  
.items-topping-input-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
.adds-topping {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    padding: 1rem !important;
  }
  
.items-topping-price {
    margin-top: 0.8rem !important;
}
  
.items-topping-input {
    margin-bottom: 10px;
  }

.items-topping-name {
    margin-left: 1rem !important;
}
.items-topping-price {
    margin-left: 1rem !important;
}
.items-topping {
    margin-bottom: 1rem !important;
}
.save-btn {
    width: 5rem;
    background-color: rgb(58, 147, 225);
    color: white;
    margin-left: 15rem !important;
}

.items-description textarea{
    margin-top: 20px;
    font-size: 16px;
    color: #555;
}