/* General header styling */
.header {
  position: absolute;
  top: 0;
  right: 5rem !important;
  left: 5rem !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  /* padding: 2px 0; */
  color: rgb(0, 0, 0);
  z-index: 1000;
  margin-top: 1rem !important;
}

/* Nội dung khác không bị header che mất */
body {
  margin: 0;
  padding-top: 60px; /* Dành không gian cho header cố định */
}

/* Logo styling */
.header-logo {
  display: flex;
  align-items: center;
}

.header-logo img {
  width: 50px;
  height: 50px;
  margin-right: 0.2rem !important;
}

.header-logo span {
  font-size: 24px;
  font-weight: bold;
}

/* Search bar styling */
.header-search {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin: 0 20px !important; 
  
}

.search-input {
  flex-grow: 1;
  padding: 0.2rem !important;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px !important;
  font-size: 16px;
  height: 2rem;
  
}

.search-button {
  background-color: #fff;
  border: none;
  color: white;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
}

.search-button img {
  width: 35px;
  height: 35px;
}

/* Cart icon styling */
.header-cart img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-left: -0.5rem !important;
  margin-right: 1rem !important;
}

.header-cart {
  position: relative;
  display: inline-block;
}

.cart-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: red;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
  border-radius: 50%;
}
