/* Toàn bộ container */
.tracking-container {
  font-family: Arial, sans-serif;
  margin: 1.8rem 0 !important; 
}

/* Thanh Tabs */
.tabs {
  display: flex;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px !important;
  position: relative;
  top: -320px;
}

.tab {
  padding: 0.8rem 1.5rem !important;
  cursor: pointer;
  color: #333;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}

.tab.active {
  color: #3716ae;
  border-bottom: 2px solid #3716ae;
}

.tab-count {
  color: #3716ae;
  margin-left: 0.2rem !important;
  font-weight: bold;
}

.search-bar {
  margin: 0.8rem 0 !important;
  position: relative;
  top: -320px;
}

.search-bar input {
  width: 100%;
  padding: 0.5rem !important;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.content1 {
  margin-top: 2rem !important;
}

.content1 h3 {
  margin: 0 0 10px 0 !important;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  position: relative;
  top: -320px;
}
